@import url(root.css);

.projetos__container {
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
    flex-direction: column;
    width: 78vw;
}

.titulo__projetos {
    text-align: center;
    font: var(--padrao-texto-titulo);
    color: var(--detalhes);
    text-shadow: var(--sombra-basica-text-shadow);
}

.projetos {
    display: grid;
    grid-template-columns: 24.5vw 24.5vw 24.5vw;
    grid-template-rows: 216px 216px;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 78vw;
    margin-top: 18px;
    font: var(--padrao-texto-projetos);
    color: var(--digitacao);
    position: relative;
}

.item__projeto {
    background-color: var(--cor-secundaria);
    box-shadow: var(--sombra-blocos-box-shadow);
    border-radius: 24px;
    padding: 65px 65px;
    text-wrap: nowrap;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 0.5s ease;
    overflow: hidden;
    cursor: pointer;
}

.item__projeto::before {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    color: var(--digitacao);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.item__projeto:hover::before {
    opacity: 1;
}

.projeto1 {
    background-image: url("../IMAGENS-ÍCONES/organo.png");
    background-position: center top;
}

.projeto1::before {
    content: "Organo";
}

.projeto2 {
    background-image: url("../IMAGENS-ÍCONES/serenatto.png");
    background-position: center top;
}

.projeto2::before {
    content: "Serenatto";
}

.projeto3 {
    background-image: url("../IMAGENS-ÍCONES/meteora.png");
    background-position: center top;
}

.projeto3::before {
    content: "Meteora";
}

.projeto4 {
    background-image: url("../IMAGENS-ÍCONES/culturama.png");
    background-position: center top;
}

.projeto4::before {
    content: "Culturama";
}

.projeto5 {
    background-image: url("../IMAGENS-ÍCONES/relogio.png");
    background-position: center center;
}

.projeto5::before {
    content: "Relógio em JS";
}

.projeto6 {
    background-image: url("../IMAGENS-ÍCONES/alura+.png");
    background-position: center center;
}

.projeto6::before {
    content: "Alura+";
}

.linha2__proj {
    margin-top: 40px;
}

@media screen and (max-width: 1160px) {
    .projetos {
        gap: 6.034482759vw;
    }
}

@media screen and (max-width: 918px) {
    .projetos {
        gap: 2.178649237vw;
    }
}

@media screen and (max-width: 760px) {
    .titulo__projetos {
        font: var(--_360-texto-titulo);
    }

    .projetos {
        font: var(--_360-texto-projetos);
        gap: 2.7vw;
        grid-template-columns: 40vw 40vw;
        grid-template-rows: 216px 216px 216px;
        width: 78vw;
    }


}

@media screen and (max-width: 375px) {
    .projetos {
        gap: 3.2vw;
    }
}

@media screen and (max-width: 320px) {
    .projetos {
        gap: 4.6875vw;
    }
}
